.fixed-bottom-ordenar {
  position: fixed;
  bottom: 50px;
  width: 35%;
  margin-left: 55%;
  margin-right: 10%;
  min-height: 8%;
}

.fixed-top {
  position: fixed;
  top: 110px;
  width: 90%;
  margin-left: 0%;
  margin-right: 25%;
}

.fixed-bottom-finalizar-pedido {
  position: fixed;
  bottom: 50px;
  width: 35%;
  margin-left: 5%;
  margin-right: 10%;
  min-height: 8%;
}

.altura-campo-items{
    max-height: 78%;
    min-height: 78%;
}

.padding-mesa{
    padding-left: 4%;
}

.altura-x-items{ 
    min-height: 20%;
}

.fixed-bottom-iniciar {
  position: fixed;
  bottom: 50px;
  width: 35%;
  margin-left: 30%;
  margin-right: 10%;
  min-height: 8%;
}