table {
  height: max-content;
  width: 50%;
  border-radius: 20px;
}

td {
  text-align: center;
  padding: 10px;
}

.tdProducto {
  padding: 10px;
}

thead {
  position: sticky;
  top: 0;
}

.dashed-border {
  border: 3px dashed #9b9898;
  border-radius: 15px;
}
